<h1 class="center">Update Vendor Type </h1>

<%= render 'form', vendor_type: @vendor_type %>

<div>
  <%= link_to 'New Vendor Type', new_vendor_type_path%> |
  <%= link_to 'All Vendor Types', vendor_types_path%>
</div>
